.navbar .nav>li>a.brand {
    padding-left:20px;
    margin-left:0
}

.content {
    margin-top:50px;
    width:100%
}

footer {
    position:fixed;
    left:0px;
    bottom:0px;
    height:30px;
    width:100%;
    background:#ddd;
    -webkit-box-shadow:0 8px 6px 6px black;
    -moz-box-shadow:0 8px 6px 6px black;
    box-shadow:0 8px 6px 6px black
}

footer p {
    padding:5px 0 12px 10px
}

.navbar-static .divider-vertical {
    border-right-color: #222222;
    border-left-color: #111111;
}
.navbar .divider-vertical {
    height: 40px;
    margin: 0 9px;
    border-right: 1px solid #ffffff;
    border-left: 1px solid #f2f2f2;
}
.navbar-inverse .divider-vertical {
    border-right-color: #222222;
    border-left-color: #111111;
}

.navbar .divider-vertical li{
    float: left;
}
/*дальше идет то что я добавил с файла
 '/lib/bootstrap/docs/assets/css/bootstrap.css', который я закоментировал*/
/*.navbar .nav {*/
    /*position: relative;*/
    /*left: 0;*/
    /*display: block;*/
    /*float: left;*/
    /*margin: 0 10px 0 0;*/
/*}*/
/*.nav {*/
    /*padding-left: 0;*/
    /*margin-bottom: 0;*/
    /*list-style: none;*/
/*}*/

/*.navbar-inverse .navbar-inner {*/
    /*background-color: #1b1b1b;*/
    /*background-image: -moz-linear-gradient(top, #222222, #111111);*/
    /*background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#222222), to(#111111));*/
    /*background-image: -webkit-linear-gradient(top, #222222, #111111);*/
    /*background-image: -o-linear-gradient(top, #222222, #111111);*/
    /*background-image: linear-gradient(to bottom, #222222, #111111);*/
    /*background-repeat: repeat-x;*/
    /*border-color: #252525;*/
    /*filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff222222', endColorstr='#ff111111', GradientType=0);*/
/*}*/

/*.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {*/
    /*-webkit-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);*/
    /*-moz-box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);*/
    /*box-shadow: 0 1px 10px rgba(0, 0, 0, 0.1);*/
/*}*/

/*.navbar-fixed-top .navbar-inner, .navbar-fixed-bottom .navbar-inner{*/
    /*padding-right: 0;*/
    /*padding-left: 0;*/
    /*-webkit-border-radius: 0;*/
    /*-moz-border-radius: 0;*/
    /*border-radius: 0;*/
/*}*/
/*.navbar-fixed-top .navbar-inner, .navbar-static-top .navbar-inner {*/
    /*border-width: 0 0 1px;*/
/*}*/

/*.navbar .nav > li {*/
    /*float: left;*/
/*}*/