extends auth

block auth
  form.signin.form-horizontal(action="/users/session", method="post")
    .form-group
      label.control-label.col-md-4(for='email') Email
      .col-md-6
        input#email.form-control(type='text', name="email", placeholder='Email')

    .form-group
      label.control-label.col-md-4(for='password') Password
      .col-md-6
        input#password.form-control(type='password', name="password", placeholder='Password')

    .well
      button.btn.btn-primary.col-md-offset-4(type='submit') Sign in
      &nbsp;
      | or&nbsp;
      a.show-signup(href="/signup") Sign up
