<section data-ng-controller="AdvertsController">
    <div class="container">
        <!--<div class="panel panel-default">-->
        <!--<div class="panel-heading">-->
        <!--Создание объявления-->
        <!--</div>-->
        <!--<div class="panel-body">-->
        <form method="post" class="form-horizontal" data-ng-submit="create()">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>1. Укажите регион, в котором вы хотите найти клиентов</h4>
                    <small>Если вы укажете географический регион, в котором находятся ваши потенциальные клиенты, то
                        объявления будут показаны только в этом регионе.
                    </small>
                </div>
                <div class="panel-body">
                    <!--&lt;!&ndash;<h4>1. Укажите регион, в котором вы хотите найти клиентов</h4>&ndash;&gt;-->
                    <!--&lt;!&ndash;<hr/>&ndash;&gt;-->
                    <!--<div class="row">-->
                    <div class="col-md-7">
                        <div class="form-group">
                            <label class="col-sm-4 control-label" for="regions"><a class="btn btn-link"
                                                                                   ng-click="open('region')"><i
                                    class="glyphicon glyphicon-info-sign"></i></a>Регионы показа:</label>

                            <div class="col-sm-8">
                                <p class="label label-default" id="regions">Украина</p>

                                <p class="text-muted"><a class="" href=""
                                                         ng-click="open('selectregion')">уточнить</a>
                                <div ng-show="mregion">выбрано: {{ mregion }}</div>



                                </p>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>2. Напишите текст объявления</h4>
                    <small>Объявление состоит из заголовка и текста объявления. Максимальная длина заголовка — 33
                        символа, текста — 75. В заголовок и текст объявления нельзя включать номера телефонов и
                        электронные адреса, также нельзя набирать слова заглавными буквами (кроме аббревиатур).
                    </small>
                </div>
                <div class="panel-body">
                    <!--<h4>2. Напишите текст объявления</h4>-->
                    <!--<hr/>-->
                    <div class="row">
                        <div class="col-md-7">
                            <div class="form-group">
                                <label class="col-sm-4 control-label" for="title">Заголовок:</label>

                                <div class="col-sm-8">
                                    <input placeholder="" class="form-control " id="title" type="text" ng-model="title"
                                           maxlength="40" required/>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label" for="text"><a class="btn btn-link"
                                                                                       ng-click="open('goodadvert')"><i
                                        class="glyphicon glyphicon-info-sign"></i></a>Текст объявления:</label>

                                <div class="col-sm-8">
                                    <textarea placeholder="" rows="4" class="form-control " id="text"
                                              type="text" ng-model="text" maxlength="100" required></textarea>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label" for="url"><a class="btn btn-link"
                                                                                    ng-click="open('urlfield')"><i
                                        class="glyphicon glyphicon-info-sign"></i></a>Сайт:</label>

                                <div class="col-sm-8">
                                    <div class="input-group">
                                        <span class="input-group-addon">http://</span>
                                        <input placeholder="" class="form-control " id="url" ng-model="url"
                                               type="text" maxlength="45" required/>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-sm-4 control-label" for="urltitle">Название сайта:</label>

                                <div class="col-sm-8">
                                    <input placeholder="" class="form-control " id="urltitle" ng-model="urltitle"
                                           type="text" maxlength="45"/>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="well col-md-10">
                                <a href="http://{{url}}" class="" target="_blank"><b>{{title}}</b></a><br/>

                                <div>{{text}}</div>
                                <small ng-if="!urltitle" class="text-success">{{url}}</small>
                                <small ng-if="urltitle" class="text-success">{{urltitle}}</small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h4>3. Подберите ключевые фразы</h4>
                    <small>Ваши объявления будут показаны в ответ на запросы пользователей, содержащие указанные вами
                        ключевые фразы. Чем больше ключевых фраз вы подберете, тем больше вероятность показа объявления
                        и перехода на ваш сайт (или страницу с адресом и телефоном).
                    </small>
                </div>
                <div class="panel-body">
                    <!--<h4>3. Подберите ключевые фразы</h4>-->
                    <!--<hr/>-->
                    <div class="row">
                        <div class="col-md-7">
                            <div class="form-group">
                                <label class="col-sm-4 control-label" for="keywords"><a class="btn btn-link"
                                                                                        ng-click="open('keywords')"><i
                                        class="glyphicon glyphicon-info-sign"></i></a>Ключевые слова:</label>

                                <div class="col-sm-8">
                                    <textarea placeholder="" rows="10" class="form-control " id="keywords"
                                              type="text" maxlength="1000" ng-model="keywords" required></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="col-md-5">
                            <div class="well well-lg col-md-10" style="height:214px">
                                <!--<div class="col-sm-8 well" style="height:134px">-->
                                <!--&lt;!&ndash;<textarea placeholder="" rows="6" class="form-control " id="keyword-tips"&ndash;&gt;
                                -->
                                <!--&lt;!&ndash;type="text" maxlength="100" readonly></textarea>&ndash;&gt;-->
                                <!--</div>-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <!--<div class="col-md-7">-->
                <button class="btn btn-success col-md-offset-1" type="submit">Создать</button>
                <!--</div>-->
            </div>
        </form>
    </div>
</section>