<section data-ng-controller="AdvertsController" data-ng-init="find()">
	<ul class="adverts unstyled">
		<li data-ng-repeat="advert in adverts">
			<span>{{advert.created | date:'medium'}}</span> /
			<span>{{advert.user.name}}</span>
			<h2><a data-ng-href="#!/adverts/{{advert._id}}">{{advert.title}}</a></h2>
			<div>{{advert.content}}</div>
		</li>
	</ul>
	<h1 data-ng-hide="!adverts || adverts.length">No adverts yet. <br> Why don't you <a href="/#!/adverts/create">Create One</a>?</h1>
</section>