<section data-ng-controller="AdvertsController">
    <div class="container row">
        <form class="" role="form">

            <div class="form-group container">
                <label class="">Выберите размеры вашего рекламного блока:</label>

                <div class="">
                    <div class="col-md-3">
                        <select class="form-control" name="imsize" data-ng-init="imsize = '1'; imagesize()"
                                data-ng-model="imsize" data-ng-change="imagesize()">
                            <option value="1">240x400</option>
                            <option value="2">728x90</option>
                            <!--<option value="3" >1000x120</option>-->
                            <option value="4">160x600</option>
                            <!--<option value="5" >300x250</option>-->
                        </select>
                    </div>


                </div>
            </div>

            <div class="form-group container">
                <label class="" for="code">
                    <!--<a class="btn btn-link" ng-click="open('code')"><i class="glyphicon glyphicon-info-sign"></i></a>-->
                    Ваш код:</label>
                <div>
                    <div class="col-md-3">
                        <textarea class="form-control input-sm" name="code" id="code" rows="5"><script data-id="{{userid}}" data-size="{{datasize}}" src="//libertyads.herokuapp.com/widget.js" async="true"></script></textarea>
                    </div>
                </div>
            </div>
            <div class="col-md-12"><br/>
                <img class="img-thumbnail" src="{{img1}}" alt=""/>
                <img class="img-thumbnail" src="{{img2}}" alt=""/>
                <img class="img-thumbnail" src="{{img3}}" alt=""/>
            </div>

        </form>


    </div>
</section>
