<section data-ng-controller="AdvertsController" data-ng-init="findOne()">
    <span>{{advert.created | date:'medium'}}</span>/
    <span>{{advert.user.name}}</span>
    <h2>{{advert.title}}</h2>
    <div>{{advert.content}}</div>
    <a href="http://{{advert.url}}">{{advert.urltitle}}</a>
    <hr/>
    <div data-ng-show="global.user._id == advert.user._id">
        <a class="btn btn-default" href="/#!/adverts/{{advert._id}}/edit">
        	<i class="glyphicon glyphicon-edit"></i>
        </a>
        <a class="btn btn-default" data-ng-click="remove();">
            <i class="glyphicon glyphicon-trash"></i>
        </a>
    </div>

</section>
